<mat-card>
  <mat-card-header>Your address:</mat-card-header>
  <mat-card-content>{{account}}</mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>Send MetaCoin</mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input type="text" matInput placeholder="Nip"  [(ngModel)]="model.issuerId">
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="payer Nip"  [(ngModel)]="model.payerId">
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="Invoice No"  [(ngModel)]="model.invoiceNo">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Angular forms" [formControl]="model.date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="Ammount"  [(ngModel)]="model.amount">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!loading" mat-button id="send" (click)="sendInvoice()">Send Invoice</button>
    <button *ngIf="!loading" mat-button id="check" (click)="checkInvoice()">Check Invoice</button>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </mat-card-actions>


</mat-card>


